.LoginContainer {
  width: 100%;
  max-width: 190px;
  margin: auto;
  height: 100%;
  z-index: 999;
  text-align: center;
  position: relative;
}
.LoginContainerWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  justify-content: center;
  z-index: 999;
  position: relative;
}

.LoginContainerBg {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation: standby 2s infinite;
  -webkit-animation: standby 2s infinite;
}

@keyframes standby {
  0% {
    opacity: 1; /* El botón está encendido al inicio de la animación */
  }
  20% {
    opacity: 0; /* El botón se va apagando al llegar al 50% de la animación */
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* El botón vuelve a encenderse al final de la animación */
  }
}
